    .user-img {
        margin-top: -50px;
        margin-bottom: 30px;
    }

    .user-img img {
        width: 100px;
        border: #b9baf1 solid 2px;
        border-radius: 2rem;
    }

    .main-section {
        margin: 0 auto;
        margin-top: 25%;
        padding: 0;
    }

    .modal-content {
        background: linear-gradient(to left, #010808, #99E3E8, #664891, #010808);
        padding: 0 20px;
        box-shadow: 2px 0 5px #961e1e;
    }

    .form-group input{
        height: 42px;
        font-size: 18px;
        border: 0;
        border-radius: 5px;
    }

    .forgot {
        padding: 9px 0px;
    }